body{font-family: 'Poppins', sans-serif;}

.heading6{color: #3879FA;}
.heading1{font-size: 70px;
font-weight: 900;}
.mydiv{border-radius: 50%;
    background-color:#ff3e66;
}
.myimg2{padding-top: 150PX;}
.mydiv1{    margin-top: 240px;}